@charset "utf-8";
/* CSS Document */

html { 
}
    body {
      margin: 0px;
	  padding: 0px;
    }
.wrapper{
	
	height: 100%;
	width: 100%;
	position: absolute;
}
 /*header*/
.header {
	top: 0px;
	background-color: #232f3e;
    box-shadow: 0 1px 1px #888;
    height:  110px;
	z-index: -1;
    width: 100%;
	position: relative;
}
.header-bar{
	padding: 5px 5px;
}
.logo-container{
	padding: 5px 50px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
}

.icon-container{
	float: right;
	padding-right: 5px;
    padding-top: 25px;
	padding-bottom: 25px;
}

.img-cont{
	padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
}
   /*footer*/
.footer {
	background-color: #232f3e;
	box-shadow: 0 1px 1px #888;
	width: 100%;	
	color: white;
	position: relative;
    overflow: hidden;  
}

.layout-content-box {
   margin: 10px;  
}

.row {
	float: right;
	padding: 10px;
}

.row p  {
    font-size: 16px;
	line-height: 22.4px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
 /*container*/
.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.sidebar {
    position: relative;
	overflow: hidden;
	margin: 0px;
    width: 250px;
    background: #FF9900;
    color: #DDD;
	height: 100%;
}
.menu{
	margin-right: 10px;
	margin-left: 0px;
	padding-top: 5px;
	padding-left: 5px;
}
.menu-cont{
	
}
.menu-img-cont{
	
}

.container .sidebar .menu .separator {
  border-top: 1px solid #111111;
  margin: 10px;
}
.container .sidebar .menu a {
  color: #DDD;
  text-decoration: none;
}
.container .sidebar .menu a:hover {
  color: #FFF;
}

.container .sidebar .menu > ul.no-bullets > li a:before {
  content: none !important;
}
.container .sidebar .menu > ul > li {
  list-style: none;
}
.container .sidebar .menu > ul > li > a {
  position: relative;
  top: -3px;
  font-size: 24px;
  padding: 8px 10px;
  display: block; 
}
.container .sidebar .menu > ul > li > a:before {
  height: 9px;
  width: 9px;
  display: inline-block;
  margin-right: 5px;
}
.container .sidebar .menu > ul > li.active {
  list-style-type: desc;
  color: #FF3A3A;
  padding-bottom: 10px;
}
.container .sidebar .menu > ul > li.active > a {
  padding-bottom: 0;
}
.container .sidebar .menu > ul > li.active > a:before {
  background: #FF3A3A;
  box-shadow: none;
}
.container .sidebar .menu > ul > li.active ul {
  display: block;
  margin-left: 50px;
  margin-top: 5px;
}
.container.sidebar .menu > ul > li.active ul li.active a {
  color: #FFF;
  font-weight: bold;
}
.container .sidebar .menu > ul > li.active ul li a {
  padding: 5px;
  display: block;
  font-size: 16px;
  color: #888;
}
.container .sidebar .menu > ul > li.active ul li a:hover {
  color: #FFF;
}
.container .sidebar .menu > ul > li ul {
  display: none;
}

	 	  









