@charset "utf-8";
/* CSS Document */

html { 
}
    body {
      margin: 0px;
	  padding: 0px;
	  
 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    }
	
	
#form 
{ 
	text-align: left; 
	display: inline-block;
	font: 16px/100% Verdana, sans-serif;	
	padding: 20px; 
	width: auto;  
	
}
#button{
	width:100px;
	height:50px;
	font: 16px/100% Verdana, sans-serif;
	font-style: bold;
	border-radius: 15px 50px;
	background: #FF9900;
}
#subFeedback{
	width:200px;
	height:50px;
	font: 16px/100% Verdana, sans-serif;
	font-style: bold;
	border-radius: 15px 50px;
	background: #FF9900;
}


textarea{
	
	font: 16px/100% Verdana, sans-serif;
	height: 125px;
	resize: none;
}
 #aboutUs
 {
	 width: 800px;
 }
#textbox
{
	border:2px solid #b3b3b3;
background:#232F3E;
color:#FF9900 ;
width:200px;
height: 50px;
border-radius:25px;
font: 16px/100% Verdana, sans-serif;

-moz-border-radius:25px; 
-moz-box-shadow:    1px 1px 1px #ccc;
-webkit-box-shadow: 1px 1px 1px 1px #ccc;
 box-shadow:         1px 2px 2px 2px #ccc;
 
}
.wrapper{
	
	height: 100%;
	width: 100%;
	position: absolute;
}
 /*header*/
.header {
	top: 0px;
	background-color: #232f3e;
    box-shadow: 0 1px 1px #888;
    height:  110px;
    width: 100%;
	position: relative;
}
.header-bar{
	padding: 5px 5px;
}
.logo-container{
	padding: 5px 0px;
    float: left;
    width: auto;
    border: none;
    outline: none;
	
   
}

.icon-container{
	float: right;
	padding-right: 5px;
    padding-top: 25px;
	padding-bottom: 25px;
}

.img-cont{
	padding: 8px 5px;
    width: auto;
    border: none;
    outline: none;
	
   
}

   /*footer*/
.footer {
	background-color: #232f3e;
	box-shadow: 0 1px 1px #888;
	width: 100%;	
	color: white;
	position: absolute;
    overflow: hidden;  
}

.layout-content-box {
   margin: 10px;  
}

.row {
	float: right;
	padding: 10px;
}

.row p  {
    font-size: 16px;
	line-height: 22.4px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
 /*container*/
.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.sidebar {
    
	overflow: hidden;
	margin: 0px;
    width: 20%;
    background: #FF9900;
    color: #DDD;
	height: 100%;
	float: left;
}
.main-container{
	width:80%;
	overflow: hidden;
	margin: 0px;
    color: ;
	height: 100%;
	border: 5px #CC0033;
	box-sizing: border-box;
	}
.menu{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 50px;
	
}
.menu-cont{
	float:left;
	margin-left: 2px;
}
.menu-img-cont{
	float:right;
	margin-right: 2px;
}

.container .sidebar .menu .separator {
  border-top: 1px solid #111111;
  margin: 15px;
}
.container .sidebar .menu a {
  color: #DDD;
  text-decoration: none;
}
.container .sidebar .menu a:hover {
  color: #FFF;
}

.container .sidebar .menu > ul.no-bullets > li a:before {
  content: none !important;
}
.container .sidebar .menu > ul > li {
  list-style: none;
}
.container .sidebar .menu > ul > li > a {
	position: relative;
	font-size: 24px;
	padding-top: 10px;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.container .sidebar .menu > ul > li > a:before {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}
.container .sidebar .menu > ul > li.active {
  list-style-type: desc;
  color: #FF3A3A;
  padding-bottom: 10px;
}
.container .sidebar .menu > ul > li.active > a {
  padding-bottom: 	10px;
}
.container .sidebar .menu > ul > li.active > a:before {
  background: #FF3A3A;
  box-shadow: none;
}
.container .sidebar .menu > ul > li.active ul {
  display: block;
  margin-left: 50px;
  margin-top: 5px;
}
.container.sidebar .menu > ul > li.active ul li.active a {
  color: #FFF;
  font-weight: bold;
}
.container .sidebar .menu > ul > li.active ul li a {
  padding: 5px;
  display: block;
  font-size: 16px;
  color: #888;
}
.container .sidebar .menu > ul > li.active ul li a:hover {
  color: #FFF;
}
.container .sidebar .menu > ul > li ul {
  display: none;
}

	/*    for java script  */
	
table {	
    width: 100%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
	line-height: 22.4px;
	} 	
	/*     main container for java script  */  
/* notification */
/* The actual notification-wrapper (the vertical ruler) */
.notification-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 20px;
  background-color:  #d0dae1;
  padding: 20px;
}

/* The actual notification-wrapper (the vertical ruler) */
.notification-wrapper::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 4%;
  margin-left: -3px;
}

/* Container around content */
.notif {
  padding: 20px 60px;
  position: relative;
  background-color: inherit;
  width: 50%;
  
}

/* The circles on the notification-wrapper */
.notif::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 5px solid #FF9900;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Add arrows to the left container (pointing left) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 50px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the left side */
.left::after {
  left: 10px;
}

/* The actual content */
.notif-container {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive notification-wrapper on screens less than 600px wide */
@media all and (max-width: 600px) {
/* Place the timelime to the left  */
  .notification-wrapper::after {
    left: 31px;
  }

/* Full-width containers */
  .notif {
    width: 100%;
	
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .notif::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

.notif-container-head{}
.notif-container-content{}
.notif-container-foot{}


/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

