body 
{
	padding: 30px 30px;
	overflow: hidden;
    text-align: center;
	background: #ffffff;
}
h1
{
	font: 30px/100% Verdana, sans-serif;
	color: #FF9900;
}
h3
{
	font: 14px/100% Verdana, sans-serif;
	color: #232F3E;
}
form 
{ 
	text-align: left; 
	display: inline-block;
	font: 13px/100% Verdana, sans-serif;	
	padding: 20px; 
	width: auto;  
	
}

.address2
{
	padding-left:5em;
}
#textbox
{
	border:2px solid #b3b3b3;
background:#232F3E;
color:#FF9900 ;
width:200px;
height: 50px;
border-radius:25px;
font: 16px/100% Verdana, sans-serif;

-moz-border-radius:25px; 
-moz-box-shadow:    1px 1px 1px #ccc;
-webkit-box-shadow: 1px 1px 1px 1px #ccc;
 box-shadow:         1px 2px 2px 2px #ccc;
 
}

#button{
	width:100px;
	height:50px;
	font: 16px/100% Verdana, sans-serif;
	font-style: bold;
	border-radius: 15px 50px;
	background: #FF9900;
}