@charset "utf-8";
/* CSS Document */

html { 
}
    body {
      margin: 0px;
	  padding: 0px;
   font: MS sans-serif;


    }
.wrapper{
	
	height: 100%;
	width: 100%;
	position: absolute;
}
 /*header*/
.header {
	top: 0px;
	background-color: #232f3e;
    box-shadow: 0 1px 1px #888;
    height:  110px;
    width: 100%;
	position: relative;
}
.header-bar{
	padding: 5px 5px;
}
.logo-container{
	padding: 5px 0px;
    
    width: auto;
    border: none;
    outline: none;  
}
.head{
	top: 0px;
	position: relative
	}
.icon-container{
	float: right;
	padding-left:15px;
	padding-right: 15px;
    padding-top: 25px;
	padding-bottom: 25px;
	width:auto;
}
.dropdown {
  position: relative; }

.icon-list{
    flex-direction: row;
    align-items: center;

    display: flex;
   
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
 ul.icon-list{ 
 list-style-type: none;
    margin: 0;
    padding: 0;}
ul.icon-list li{
	display:inline;}
.img-cont{
	padding: 8px 5px;
    width: auto;
    border: none;
    outline: none;
	position:relative;
   
}
 /* icons in header */
.icon-list ul li {
        float:right;
        font:13px helvetica;
        font-weight:bold;
        margin:3px 0;
		
    }
 .icon-list ul li a {
        color:#FFF;
        text-decoration:none;
        padding:6px 15px;
        cursor:pointer;
    }
 .icon-list ul li a:hover {
        background:#425B90;
        text-decoration:none;
        cursor:pointer;
    }
.user-name{
	color: white;
	margin:10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;}
  /* Notification */	
   


   /*footer*/
 
  @media (max-width: 991px) {
    .footer {
      margin-left: 0;
      width: 100%; } }
.footer {
	background-color: #232f3e;
	box-shadow: 0 1px 1px #888;
	width: 100%;	
	color: white;
	display: block;
	height: auto;
	position: relative;
    padding: 0 0 60px;
}
.layout-content-box {
   margin: 0px;  
}

.row1 {
	float: right;
	padding: 10px;
}

.row1 p  {
    font-size: 16px;
	line-height: 22.4px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
 /*container*/

	.content-wrapper {
		
  overflow: hidden;
  position: relative;
  background: #edf1f5;
  width:100%;
  min-height: 100vh;

  

  }
  @media (max-width: 991px) {
    .content-wrapper {
      margin-left: 0;
      width: 100%; } }

.sidebar {
    
	overflow: hidden;
	margin: 0px;
    width: 20%;
    background: #FF9900;
    color: #DDD;
	 min-height: 100vh;
	float: left;
}
.main-container{
	 
	width:80%;
	overflow: hidden;
	margin: 0px;
    background:  #2E3948;
	height: 100%;
	border: 5px #CC0033;
	box-sizing: border-box;
	 min-height: 100vh;
	 color: white;
   font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-decoration: none;
       /*text-shadow: white 1px 1px 1px 1px;*/
	}
	
	  
.menu{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 50px;
	
	
}

 .sidebar .menu .separator {
  border-top: 1px solid #232f3e;
  margin: 15px;
}
.sidebar .menu a {
  color: #FFF;
  text-decoration: none;
}
.sidebar .menu a:hover {
  color: #232f3e;
  
}
 .sidebar .menu > ul > li {
  list-style: none;
}
.sidebar .menu > ul > li > a {
	position: relative;
	font-size: 24px;
	padding-top: 10px;
	display: block;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
.sidebar .menu > ul > li > a:before {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}
.sidebar .menu > ul > li.active {
  
  color: #232f3e;
  padding-bottom: 10px;
}
.sidebar .menu > ul > li.active > a {
  padding-bottom: 10px;
  background: #232f3e;
  
}
 .sidebar .menu > ul > li.active > a:before {
  background: #FF3A3A;
  box-shadow: none;
}	  
.contain-flu {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
span {
    text-shadow: none;
}
.float-right{
	float:right;}

	 /* For table*/  
	  .head-c {
    color: #232f3e;
    padding-top:30px;
	padding-bottom:30px;
    font-size: 24px;
   font-family: MS Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align:center;
}


.row {
    display: flex;
    flex-wrap: wrap;
	
}


.col{
	    position: relative;
     width:100%;
	
    min-height: 1px;
    padding: ;
    padding-left: ;
	
}
.col-s { width:40%;
left:30%;}
.col-m { width:50%;
left:25%;}
.col-l { width:80%;
left:10%;}

.card {
    border: 2px;
	padding:20px;
    border-radius: 5px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fffaf2;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;;
	 
}


label {
  display: inline-block;
  margin-bottom: 10px; }

.table-responsive {
	margin:0px;
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
table {	
    width: 100%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 20px;
	line-height: 28px;
	border:none;
	color:;
	border-collapse:collapse;
	background-color:;
	text-align: left;
	
	} 
	
	textarea{
		height: 150px;
		width: 400px;
		resize: none;
	}
.eventTable input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border:none;
	
    box-sizing: border-box;
}
.table {
    margin-bottom: 0;
}

.table {
    font-size: .9rem;
}

.table-bordered, .table {
    border: 1px solid #e9ecef;
	border-radius: 10px;
}

.table {
    max-width: 100%;
    background-color: transparent;
}

.table {
    border-collapse: collapse;
	
}

.table {
   display: table;
	border-color: white;
    border-collapse: separate;
      
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr td{
	    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
	
	}
tr{
	display:table-row;
	border: 1px solid #000;}

/* incident */

.incident-wrapper {
  
  margin: 20px;
 background-color: #fffaf2;
  padding: 20px;
  height: 500px; ;
  overflow-y: scroll;
  border-radius: 5px;
  color: black;
}
/* Container around content */
.inci {
  padding: 10px 60px;
  position: relative;
  background-color: inherit;
  width: 50%;
  
}
/* The actual content */
.inci-container {
  padding: 10px 10px;
  position: relative;
  border-radius: 6px;
  
}




/* notification */
